#section-activites h2 {
  padding-bottom: 20px;
}
#section-activites {
  margin: 50px 0px 50px 0px;
  padding: var(--section-padding);
}
#activites {
  display: flex;
  gap: 40px;
  height: auto;
}
.activites-card {
  width: var(--width);
  height: 500px;
  box-shadow: 0 0 10px rgb(206, 203, 203);
  border-radius: 15px;
}
.activites-images {
  width: var(--width);
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 90%;
}
#activites h3 {
  padding-left: 20px;
  padding-top: 10px;
}