#section-activites h2 {
  padding-bottom: 20px;
}
#section-activites {
  margin: 50px 0px 50px 0px;
  padding: var(--section-padding);
}
#activites {
  display: flex;
  gap: 40px;
  height: auto;
}
.activites-card {
  width: var(--width);
  height: min-content;
  box-shadow: 0 0 10px rgb(206, 203, 203);
  border-radius: 15px;
}
.activites-images {
  width: var(--width);
  height: 380px;
  object-fit: cover;
  border-radius: 15px 15px 0 0
}
#activites h3 {
  padding-left: 20px;
  padding-top: 10px;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}