header {
  display: flex;
  justify-content: space-between;
}
.menu-nav a {
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
}
li {
  list-style-type: none;
  border-top: solid transparent 3px;
}
a {
  text-decoration: none;
  color: black;
}
.menu-nav ul {
  display: flex;
}

li.hebergements:hover,
li.activites:hover {
  border-top: solid 3px;
  border-color: var(--color-primary);
}
#logo {
  height: 25px;
}
.logo {
  padding-top: 3vh;
}