@media (max-width: 768px) {
  header {
    display: block;
  }
  .logo img {
    display: block;
    margin: auto;
  }
  .menu-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .menu-nav ul li {
    width: 50%;
  }
  .menu-nav ul li a {
    display: flex;
    justify-content: center;
  }

  #titre>h1 {
    font-size: 22px;
  }
  #titre p {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #recherche_box {
    justify-content: center;
  }
  #recherche_box .fa-location-dot {
    width: 50px;
    height: 49px;
  }
  #recherche {
    padding-left: 15px;
    padding-right: 15px;
  }
  #recherche_box input {
    width: auto;
  }

  form {
    width: 100%;
  }

  #bouton-rechercher {
    border-radius: 15px;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  #icon {
    display: block;
    color: rgb(255, 255, 255);
  }

  #text-button {
    display: none;
  }

  li.hebergements,
  li.activites {
    border-top: none;
    border-bottom: solid 3px;
    border-color: transparent;
  }
  li.hebergements:hover,
  li.activites:hover {
    border-top: none;
    border-bottom: solid 3px;
    border-color: var(--color-primary);
  }
  #section-hebergements-pop {
    flex-direction: column-reverse;
  }

  #filters>h2 {
    text-align: center;
  }

  #populaires {
    border-radius: 0;
    width: var(--width);
    padding: 20px;
  }
  .hebergements-card {
    width: var(--width);
  }
  #hebergements {
    background-color: white;
    border-radius: 0;
    padding: 20px;
  }
  #activites {
    flex-direction: column;
    align-items: center;
  }
  .populaires-card {
    width: var(--width);
  }
  #populaires-list {
    flex-direction: column;
  }


  .activites-card {
    width: var(--width);
    height: min-content;
  }
  .activites-images {
    width: var(--width);
    height: 141px;
  }
  #section-activites h2,
  #hebergements h2,
  #titre-populaires,
  h3 {
    padding-left: 0px;
  }
  #section-footer {
    flex-direction: column;
  }
  header,
  main,
  footer {
    padding: 0;
  }

  .footer-box {
    width: 100%;
  }

  #categories a {
    width: 47%;
  }
  
  #categories a, #categories a span {
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
  }

  #filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px; 
  }
  #filter h2 {
    text-align: left;
  }

  #categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #populaires-list h3 {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .description-pop {
    display: flex;
    width: 223.333px;
    padding: 10px 5px 5px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    height: auto;
    align-self: stretch;
  }

  .plus-populaires-images {
    min-width: 111.666666px;
  }


  #section-activites {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex;
    gap: 30px;
  }
}